@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Orbitron';
  /*noinspection CssUnknownTarget*/
  src: url('/fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* variable font range */
  font-style: normal;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Orbitron, Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  padding-inline: 2rem;
  background: #1c1c1c;
  color: #333; /* make text pop on glass */
}